/**app.wxss**/
/* tdesign-miniprogram 组件会自动引入各自的样式，无需全局引入 */

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
